@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono&display=swap');

* {
margin: 0;
padding: 0;
background-color: black;
list-style: none;
text-decoration: none;
}

header {
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    width: 70%;
}

ul {
    display: flex;
    width: 80%;
    justify-content: space-between;
}

li {
    list-style: none;
    color: #fff;
    cursor: pointer;
    font-size: 19px;
    transition: .5s;
    font-family: 'Chivo Mono', monospace;
}

li:hover {
    color: red;
}

#logo {
    width: 100px;
    height: auto;
}

#banner {
    background-image: url('https://images.hdqwalls.com/download/mr-robot-logo-hd-qu-1920x1080.jpg');
    background-position: 40% 50%;
    background-size: cover;
    width: 100%;
    height: 200px;
    text-align: center;
}

#trailer-container {
   width: 100%;
   height: 400px;
   display:flex;
   justify-content: center;
}

.content {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.trailer {
   width: 70%;
}

#sinopse {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 70px;
}

.description {
    color: #fff;
    font-size: 15px;
    font-family: 'Chivo Mono', monospace;
    width: 70%;
}

.button {
    width: 200px;
    height: 60px;
    background-color: red;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: .8s;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: none;
    outline: none;
    margin-top: 25px;
}
.button:hover {
    background-color: #fff;
    color: black;
}


footer {
    height: 300px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

span {
    color: #fff;
    font-family: 'Chivo Mono', monospace;
}

.footer-navigation {
    display: none;
}

.footer-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(max-width: 768px){
    .footer-navigation {
        display: block;
    }

    nav {
        display: none;
    }

    #banner {
        background-position: 50%;
    }

    #trailer-container {
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: column;
    }

    .content {
        width: 95%;
        display: flex;
        flex-direction: column;
    }

    .trailer {
        width: 100%;
    }

    #sinopse {
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .description {
        width: 100%;
    }

    .button {
        width: 100%;
        margin-top: 30px;
    }

    .cards-content {
        grid-template-columns: 1fr;
        margin-top: 150px;
    }
}